<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="week1.KarelDefendsDemocracy"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" code=week1.KarelDefendsDemocracy.class"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Stanford106AAssignments"/>
</launchConfiguration>
